// POST
#page {
    #conteudo_page {
        color: #757575;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: justify;
        font-family: $font_Montserrat;
    
        // Padrões de Texto
        figure.alignright {float:right; margin:0 0 1em 1em}
        figure.alignleft {float:left; margin:0 1em 1em 0}
        figure.aligncenter {display: block; margin-left: auto; margin-right: auto}
        a figure.alignright {float:right; margin:0 0 1em 1em}
        a figure.alignleft {float:left; margin:0 1em 1em 0}
        a figure.aligncenter {display: block; margin-left: auto; margin-right: auto}
        figure:not(:last-child),
        figure:not(:first-child), figure { margin: 0 0 20px; }

        .titulo {
            color: $cor_01;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: $font_Maven;
            text-transform: uppercase;
        }

        a { color: $cor_02; text-decoration: none; }
        a:hover { color: $cor_03; }
    }
}