body.login {
  background: #FFFFFF;
}

body.login h1 {
  width: 260px;
  height: 128px;
  margin: 0 auto;
  background: url(../../images/logo_admin.png) no-repeat scroll center center;
}

body.login h1 a {
  display: none;
}

body.login #loginform {
  color: #888888;
}

body.login #loginform #wp-submit {
  border: none;
  box-shadow: none;
  text-shadow: none;
  background: #284468;
  text-transform: uppercase;
}

body.login #loginform #wp-submit:hover {
  background: #B89C6A;
}

#wpwrap #wpadminbar {
  background: #284468;
}

#wpwrap #wpadminbar a:hover {
  color: #B89C6A;
  background: #122E52;
}

#wpwrap #wpadminbar .ab-top-menu li.hover,
#wpwrap #wpadminbar .ab-top-menu li:focus,
#wpwrap #wpadminbar .ab-top-menu .ab-submenu {
  background: #122E52;
}

#wpwrap #adminmenu,
#wpwrap #adminmenuback,
#wpwrap #adminmenuwrap {
  background: #284468;
}

#wpwrap #adminmenu li:focus a,
#wpwrap #adminmenu li:focus a:hover,
#wpwrap #adminmenu li:focus a:focus,
#wpwrap #adminmenu li:hover a,
#wpwrap #adminmenu li:hover a:hover,
#wpwrap #adminmenu li:hover a:focus {
  color: #B89C6A;
  background: #122E52;
}

#wpwrap #adminmenu li:focus div.wp-menu-image::before,
#wpwrap #adminmenu li:hover div.wp-menu-image::before {
  color: #B89C6A;
}

#wpwrap #adminmenu .wp-submenu {
  background: #122E52;
}

#wpwrap #adminmenu .wp-submenu li a {
  color: #EEEEEE;
}

#wpwrap #wpcontent #wpbody a {
  color: #284468;
}

#wpwrap #wpcontent #wpbody a:hover {
  color: #B89C6A;
}

#wpwrap #wpcontent #wpbody .postbox .hndle,
#wpwrap #wpcontent #wpbody .postbox .acf-accordion-title {
  color: #FFFFFF;
  background: #284468;
}
