// CORES
$bg: #FFFFFF;
$cor_01: #284468;
    $cor_sub_01: #122E52;
$cor_02: #B89C6A;
$cor_03: #888888;

// TELA DE LOGIN
body.login {
    background: $bg;
    h1 {
        width: 260px;
        height: 128px;
        margin: 0 auto;
        background: url(../../images/logo_admin.png) no-repeat scroll center center;

        a { display:none; }
    }
    #loginform {
        color: $cor_03;
        // Botão de Login
        #wp-submit {
            border: none;
            box-shadow: none;
            text-shadow: none;
            background: $cor_01;
            text-transform: uppercase;
        }
        #wp-submit:hover {
            background: $cor_02;
        }
    }
} 

// PAINEL DE CONTROLE
#wpwrap {
    // Admin Bar
    #wpadminbar {
        background: $cor_01;

        a:hover {
            color: $cor_02;
            background: $cor_sub_01;
        }
        
        .ab-top-menu {
            li.hover,
            li:focus,
            .ab-submenu {
                background: $cor_sub_01;
            }
        }
    }

    
    // Cor da barra lateral
    #adminmenu, 
    #adminmenuback, 
    #adminmenuwrap {
        background: $cor_01;
    }

    #adminmenu {
        li:focus,
        li:hover {
            a,
            a:hover,
            a:focus {
                color: $cor_02;
                background: $cor_sub_01;
            }
            div.wp-menu-image::before {
                color: $cor_02;
            }
        }

        .wp-submenu {
            background: $cor_sub_01;

            li {
                a {
                    color: #EEEEEE;
                }
            }
        }
    } 


    // Cor dos links na área comum
    #wpcontent {
        #wpbody {
            a { color: $cor_01; }
            a:hover { color: $cor_02; }

            .postbox {
                .hndle,
                .acf-accordion-title {
                    color: #FFFFFF;
                    background: $cor_01;
                }
            }
        }
    }
}

