#breadcrumbs {
    color: $cor_01;
    a {
        color: $cor_02;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        font-family: $font_Montserrat;
    }

    .breadcrumb_last {
        display: none;
    }

    a:hover {
        color: $cor_03;
    }
}