.loop_thumb {
    .itens {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;

        .box_texto {
            z-index: 2;
            left: 15px;
            right: 15px;
            bottom: 40px;
            padding: 0 25px;
            min-height: 80px;
            line-height: 19px;
            position: absolute;
            text-shadow: 1px 1px 2px #000000;

            strong {
                color: $cor_02;
                font-size: 16px;
                font-weight: 400;
                font-family: $font_Montserrat;
            }

            h2, h4 {
                font-size: 18px;
                color: #FFFFFF;
                font-weight: 700;
                font-family: $font_Maven;
            }
        }

        .box_img {
            min-height: 260px;
            position: relative;
            transition: all .5s;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            .hover {
                z-index: 1;
                width: 100%;
                height: 100%;
                opacity: 0.3;
                display: block;
                top: 0; left: 0;
                position: absolute;
                background: #000;
                transition: opacity .5s;
            }
        }

        // CONFIGURAÇÕES PARA IMAGEM MAIOR NOS DESTAQUES
        .big {
            min-height: 417px;
        }
        .small {
            min-height: 200px;
        }
        @include media-breakpoint-down(md) {
            .big {
                min-height: 260px;
            }
            .small {
                min-height: 260px;
            }
        }
    }

    .itens:hover {
        .box_img {
            transform: scale(1.1);

            .hover {
                opacity: 0;
            }
        }
    }
}

// CONFIGURAÇÕES PARA DESTAQUES FIXOS NA HOME
.azul {
    .itens {
        .box_img {
            .hover {
                opacity: 0.8;
                background: #18447C;
            }
        }
    }
}