.loop_thumb_post {
    .post_item {
        text-decoration: none;

        .img {
            min-height: 130px;
            overflow: hidden;
            border-radius: 10px;
            
            .box_img {
                width: 100%;
                height: 100%;
                position: relative;
                transition: all .5s;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                .hover {
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    opacity: 0.3;
                    display: block;
                    top: 0; left: 0;
                    position: absolute;
                    background: #000000;
                    transition: opacity .5s;
                }
            }
        }

        .infos {
            line-height: 22px;

            .cat_date {
                color: $cor_03;
                font-size: 14px;
                font-weight: 700;
                font-family: $font_Montserrat;
                span {
                    color: $cor_02;
                }
            }
            .titulo {
                color: $cor_01;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 0;
                font-family: $font_Maven;
            }
            .desc {
                color: $cor_03;
                font-size: 14px;
                font-weight: 400;
                font-family: $font_Montserrat;
            }
        }
    }

    .post_item:hover {
        .img {
            .box_img {
                transform: scale(1.1);
                
                .hover {
                    opacity: 0;
                }
            }
        }

        .infos {
            .cat_date,
            .cat_date span,
            .titulo,
            .desc {
                color: #B8B8B8;
            }
        }
    }

    .bt_blog {
        max-width: 300px;
        color: #FFFFFF;
        padding: 15px 10px;
        text-align: center;
        background: $cor_02;
        border-radius: 10px;
        text-decoration: none;
        font-family: $font_Maven;
        text-transform: uppercase;
    }

    .bt_blog:hover {
        background: $cor_03;
    }
}