#rodape {
  // MENU RODAPÉ
  #box_menu {
    background: $cor_02;
    #menu_rodape {
      color: #000000;

      .titulo {
        color: $cor_01;
        font-size: 12px;
        font-weight: 700;
        font-family: $font_Maven;
        text-transform: uppercase;
      }
      .menu {
        margin: 0;
        padding: 0;
        list-style-type: none;

        .menu-item {
          margin: 10px 0;
          line-height: 14px;
          a {
            font-size: 12px;
            color: #ffffff;
            font-weight: 400;
            text-decoration: none;
            font-family: $font_Montserrat;
          }
          a:hover {
            color: $cor_03;
          }
        }
      }
    }
  }

  // DESCRIÇÃO
  #box_descricao {
    background: #284468;
    #descricao {
      font-size: 10px;
      color: #ffffff;
      text-align: center;
      font-family: $font_Montserrat;
    }
  }

  // NEWSLETTER E REDES SOCIAIS
  #box_news {
    background: #1a2c44;
    #newsletter {
      color: #ffffff;

      // FORMULÁRIO NEWS
      #form_news {
        .titulo {
          font-size: 14px;
          font-weight: 700;
          font-family: $font_Montserrat;
        }

        .desc {
          margin: 0 0 5px;
          font-size: 10px;
          font-weight: 400;
          font-family: $font_Montserrat;
        }
        .form-group {
          max-width: 200px;
          margin-right: 10px;

          .campo {
            max-width: 100%;
            font-size: 12px;
            color: #ffffff;
            background: none;
            border-radius: 0;
            font-weight: 400;
            border: 2px solid #ffffff;
            font-family: $font_Montserrat;
          }
          .campo:focus {
            outline: none;
            box-shadow: none;
          }
          .campo::placeholder {
            color: #cfcfcf;
          }
          #bt_enviar {
            border: none;
            font-size: 14px;
            color: #757575;
            font-weight: 400;
            border-radius: 0;
            padding: 0.375rem 30px;
            text-align: center;
            background: #f1f1f2;
            text-transform: uppercase;
            font-family: $font_Montserrat;
          }
          #bt_enviar:hover {
            color: #ffffff;
            background: $cor_02;
          }
        }

        .wpcf7-response-output {
          margin: 8px 0;
          padding: 5px 10px;
          border: none;
          font-size: 12px;
          font-weight: 400;
          font-family: $font_Montserrat;
        }
      }

      //  REDES SOCIAIS
      #redes_sociais {
        .item {
          font-size: 30px;
          color: #ffffff;
          line-height: 30px;
        }
        .item:hover {
          color: $cor_02;
        }
      }
    }
  }

  // DIREITOS E ASSINATURA
  #box_direitos {
    background: #1a2c44;
    border-top: 3px solid #ffffff;
    #direitos {
      font-size: 10px;
      color: #ffffff;
      font-family: $font_Montserrat;

      .link {
        color: #ffffff;
        text-decoration: none;
      }

      .link:hover {
        color: $cor_02;
      }
    }
  }
}
