// CABEÇALHO
#cabecalho {
    margin: 0;

    // BUSCA
    #busca {
        #form_busca {
            .form-control {
                height: 25px;
                max-width: 90%;
                color: $cor_03;
                font-size: 12px;
                font-weight: 400;
                border-right: none;
                padding: 5px 10px 5px;
                border-radius: 10px 0 0 10px;
                font-family: $font_Montserrat;
                border-top: solid #979797 1px;
                border-left: solid #979797 1px;
                border-bottom: solid #979797 1px;
            }

            .form-control:focus {
                outline: none;
                box-shadow: none;
            }

            .btn {
                height: 25px;
                border-left: none;
                border-left: none;
                position: relative;
                border-radius: 0 10px 10px 0;
                border-top: solid #979797 1px;
                border-right: solid #979797 1px;
                border-bottom: solid #979797 1px;
            }

            .btn:before {
                top: -1px;
                left: 4px;
                color: #757575;
                content: "\f002";
                position: absolute;
                font-family: 'FontAwesome';
            }
        }
    }

    // REDES SOCIAIS
    #redes_sociais {
        .item {
            color: $cor_01;
            font-size: 30px;
        }

        .item:hover {
            color: $cor_02;
        }
    }

    // MENU TOPO
    #menu_topo {
        ul.nav {
            li.nav-item {
                a.nav-link {
                    color: $cor_02;
                    font-size: 14px;
                    padding: 0 10px;
                    text-transform: uppercase;
                    font-family: $font_Montserrat;
                }

                a.nav-link:hover {
                    color: $cor_03;
                }
            }

            li.destaque {
                border-radius: 5px;
                background: $cor_focus_01;

                a.nav-link {
                    color: #FFFFFF;
                }
            }

            li.destaque:hover {
                background: $cor_03;

                a.nav-link {
                    color: #FFFFFF;
                }
            }
        }
    }

    // MENU PRINCIPAL
    #menu {
        padding: 0 1rem;
        background: $cor_01;

        #menu_principal {

            ul.navbar-nav {

                li.nav-item {
                    padding: 10px 0;
                    text-align: left;

                    a.nav-link {
                        padding: 0;
                        font-size: 15px;
                        color: #FFFFFF;
                        font-weight: 900;
                        font-family: $font_Maven;
                        text-transform: uppercase;
                    }

                    .dropdown-toggle:after {
                        content: none;
                    }
                }

                li.nav-item:hover {
                    a.nav-link {
                        color: $cor_02;
                    }
                }

                // 2º NíVEL
                li.dropdown:hover {
                    >ul.dropdown-menu {
                        padding: 0;
                        margin: 0;
                        border: none;
                        display: block;
                        border-radius: 0;
                        background: #385478;

                        li.nav-item {
                            padding: 10px;
                            text-align: left;
                            border-bottom: 1px solid #FFFFFF;

                            a.dropdown-item {
                                padding: 0;
                                font-size: 12px;
                                color: #FFFFFF;
                                font-weight: 400;
                                font-family: $font_Montserrat;
                            }
                        }

                        li.nav-item:hover {
                            background: $cor_02;

                            a.dropdown-item {
                                background: none;
                            }
                        }

                        li.nav-item:last-child {
                            border-bottom: none;
                        }
                    }
                }

                // 3º NíVEL
                ul.dropdown-menu li.dropdown:hover {
                    >ul.dropdown-menu {
                        display: block;
                        margin-left: 0;
                        background: #587498;
                    }
                }

                // 4º NíVEL
                ul.dropdown-menu li.dropdown:hover {
                    ul.dropdown-menu li.dropdown:hover {
                        >ul.dropdown-menu {
                            background: #7894B8;
                        }
                    }
                }

            }
        }
    }
}


// MOBILE -------------------------------------------------------------------------------- //
@include media-breakpoint-down(md) {
    #cabecalho {
        #menu {
            padding: 1rem 1rem;
            background: #efefef;

            .navbar-brand {
                max-width: 150px;
            }

            #menu_principal {
                ul.navbar-nav {
                    background: $cor_01;
                    border: solid #607498 2px;

                    // 1º NÍVEL
                    li.nav-item:last-child {
                        text-align: left;
                    }

                    li.nav-item {
                        padding: 0;
                        border: none;
                        text-align: left;

                        a.nav-link {
                            padding: 10px;
                            font-size: 12px;
                            font-weight: 400;
                            border-bottom: none;
                            text-transform: uppercase;
                            font-family: $font_Montserrat;
                            border-bottom: solid #FFFFFF 1px;
                        }
                    }

                    li.nav-item:last-child {
                        a.nav-link {
                            border-bottom: none;
                        }
                    }

                    li.nav-item:hover {
                        a.nav-link {
                            color: #FFFFFF;
                        }

                        a.dropdown-toggle {
                            border-bottom: solid #FFFFFF 1px;
                        }
                    }

                    // 2º NíVEL
                    li.dropdown:hover {
                        >ul.dropdown-menu {
                            li.nav-item {
                                padding: 0;

                                a.dropdown-item {
                                    padding: 10px;
                                }

                                a.dropdown-item:hover {
                                    font-weight: 800;
                                }

                                a.dropdown-item::before {
                                    content: "> "
                                }
                            }

                            li.nav-item:hover {
                                background: none;
                            }
                        }
                    }

                    // 3º NíVEL
                    ul.dropdown-menu li.dropdown:hover {
                        >ul.dropdown-menu {
                            // background: #B89C6A;
                            border: none;

                            li.nav-item {
                                a.dropdown-item::before {
                                    content: ">> ";
                                    padding-left: 5px;
                                }
                            }
                        }
                    }

                    // 4º NíVEL
                    ul.dropdown-menu li.dropdown:hover {
                        ul.dropdown-menu li.dropdown:hover {
                            >ul.dropdown-menu {

                                // background: #B89C6A;
                                li.nav-item {
                                    a.dropdown-item::before {
                                        content: ">>> ";
                                        padding-left: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #menu_topo {
                ul.nav {
                    li.nav-item {
                        padding: 10px 0;

                        a.nav-link {
                            padding: 0;
                        }
                    }

                    li.destaque {
                        a.nav-link {
                            padding: 0 10px;
                        }
                    }
                }
            }

            #bt_mobile {
                cursor: pointer;
                margin: 10px 0;
                padding: 5px 5px;
                border: solid #607498 2px;

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(96,116,152, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                }
            }
        }
    }
}