// BOOTSTRAP
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Font Awesome
@import "../../node_modules/font-awesome/scss/font-awesome";

body,
html {
    margin: 0;
    padding: 0;
}

// CORES
$cor_01: #284468;
$cor_02: #B89C6A;
$cor_03: #888888;

$cor_focus_01: #2A80EE;

// FONTES
$font_Maven: 'Maven Pro', sans-serif;
$font_Montserrat: 'Montserrat', sans-serif;

// PADRÃO DE FONTES
.titulo_sessao {
    display: block;
    color: $cor_01;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    line-height: 32px;
    font-family: $font_Maven;
    text-transform: uppercase;

    span {
        color: $cor_03;
    }
}

// BASE
@import "padroes/all";

// PÁGINAS
@import "page/all";

// BLOG
@import "blog/all";

// VÍDEOS
@import "videos/all";

// PLUGINS
@import "plugins/all";