// Páginação
.wp-pagenavi {
    display: flex;
    margin: 50px 0;
    font-size: 16px;
    justify-content: center;
    font-family: $font_Maven;

    a {
        margin: 2px 0;
        color: $cor_01;
        padding: 10px 20px;
        border-color:$cor_01;
        text-decoration: none;
        background: #FFFFFF;
        border: solid $cor_01 2px;
    }
    a:hover {
        color: #FFFFFF;
        background: $cor_01;
        border: solid $cor_01 2px;
    }
    span.current {
        margin: 2px 0;
        color: #FFFFFF;
        padding: 10px 20px;
        background: $cor_02;
        border: solid $cor_01 2px;
    }
}
