.widget {
    .topo {
        color: #FFFFFF;
        font-weight: 700;
        text-align: center;
        background: $cor_02;
        padding: 10px 0;
        font-family: $font_Maven;
        text-transform: uppercase;
        border-radius: 10px 10px 0 0;
        border-top: solid 3px $cor_02;
        border-left: solid 3px $cor_02;
        border-right: solid 3px $cor_02;
    }
    .rpwe-block {
        border-radius: 10px;
        border-top: solid 3px $cor_02;
        border-left: solid 3px $cor_02;
        border-right: solid 3px $cor_02;
        border-bottom: solid 3px $cor_02;
        ul {
            margin: 0 !important;
            padding: 20px 10px !important;

            li {
                padding-bottom: 0;
                margin-bottom: 15px;
                border-bottom: none;
                transition: all .5s;

                img {
                    border-radius: 10px;
                    padding: 0 !important;
                    border: none !important;
                    transition: opacity .5s;
                }

                h5 {
                    display: inline;
                    font-weight: 700;
                    line-height: 16px;
                    font-family: $font_Maven;
                    font-size: 14px !important;
                    .wpp-post-title {
                        color: $cor_01;
                        text-decoration: none;
                    }
                }

                .rpwe-time {
                    color: $cor_02;
                    font-weight: 400;
                    font-size: 12px !important;
                    font-family: $font_Montserrat;
                }
            }

            li:last-child {
                margin-bottom: 0;
            }

            li:hover {
                img {
                    opacity: 0.6;
                }
                
                h3 {
                    .wpp-post-title {
                        color: $cor_03;
                    }
                }
                .rpwe-time {
                    color: $cor_03;
                }
            }
        }
    }
}