.wpb_category_n_menu_accordion {
    ul.wpb_category_n_menu_accordion_list {
        li.cat-item {
            margin-bottom: 15px !important;
            a {
                font-size: 16px;
                color: #FFFFFF;
                font-weight: 700;
                background: $cor_02;
                font-family: $font_Maven;
                text-transform: uppercase;
                border-bottom: none !important;

                .wpb-submenu-indicator {
                    font-size: 30px !important;
                }
            }

            a:hover {
                color: $cor_01 !important;
                .wpb-submenu-indicator {
                    color: $cor_01 !important;
                }
            }

            ul.children {
                li.cat-item {
                    margin-bottom: 0 !important;
                    a {
                        font-size: 12px;
                        font-weight: 700;
                        background: #587498;
                        font-family: $font_Maven;
                        color: #FFFFFF !important;
                        border-bottom: solid $cor_01 1px !important;
                    }

                    a:hover {
                        color: $cor_02 !important;
                        .wpb-submenu-indicator {
                            color: $cor_02 !important;
                        }
                    }

                    ul.children {
                        li.cat-item {
                            a {
                                color: $cor_03 !important;
                                font-size: 12px;
                                font-weight: 400;
                                background: #FFFFFF;
                                font-family: $font_Montserrat;
                            }

                            a:hover {
                                color: $cor_02 !important;
                            }
                        }
                    }
        

                }
            }
        }

        li.wpb-submenu-indicator-minus {
            a {
                background: $cor_01;
                border-bottom: none !important;
                border-right: solid $cor_01 1px !important;
                border-left: solid $cor_01 1px !important;
            }

            a:hover {
                color: #FFFFFF !important;
                .wpb-submenu-indicator {
                    color: #FFFFFF !important;
                }
            }
        }
    }
}