.sidebar {
    .widget {
        .titulo_sessao {
            font-size: 25px;
        }
    }

    .textwidget {
        color: $cor_03;
        font-size: 14px;
        font-weight: 400;
        font-family: $font_Montserrat;

        .wpcf7 {
            .form-group {
                width: 100%;
                max-width: 100%;
                margin-bottom: 10px;
                .campo {
                    width: 100%;
                    color: $cor_03;
                    display: block;
                    font-size: 12px;
                    border: solid $cor_01 3px;
                    font-family: $font_Montserrat;
                }
                .campo:focus {
                    outline: none;
                    box-shadow: none;
                }
                div {
                    width: 100%;
                    max-width: 100%;
                    #bt_enviar {
                        float: right;
                        border: none;
                        color: #FFFFFF;
                        padding: 10px 20px;
                        background: $cor_02;
                        font-family: $font_Maven;
                        text-transform: uppercase;
                    }
                    #bt_enviar:hover {
                        background: $cor_03;
                    }
                }
            }
        }
    }
}