// BANNER
#blog_banner {
    font-size: 50px;
    color: #FFFFFF;
    font-weight: 700;
    min-height: 560px;
    text-align: center;
    background-size: cover;
    font-family: $font_Maven;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 2px #000000;
}
// POST
#blog {
    #blog_post {
        color: #757575;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        font-family: $font_Montserrat;
    
        #author {
            .avatar {
                width: 65px;
                height: 65px;
                border-radius: 50%;
            }
            .infos {
                font-size: 15px;
                line-height: 20px;
                vertical-align: top;
                display: inline-block;
                p { margin: 0;}
                b { margin-left: 5px; }
                .data {
                    font-size: 14px;
                }
            }
        }

        #tags {
            margin: 50px 0;
            .titulo_sessao {
                margin-bottom: 20px;
            }
            
            a {
                font-size: 14px;
                color:#FFFFFF;
                padding: 5px 10px;
                margin: 10px 10px 10px 0;
                background: $cor_02;
                display: inline-block;
            }

            a:hover {
                background: $cor_01;
            }
        }
        // Padrões de Texto
        figure.alignright {float:right; margin:0 0 1em 1em}
        figure.alignleft {float:left; margin:0 1em 1em 0}
        figure.aligncenter {display: block; margin-left: auto; margin-right: auto}
        a figure.alignright {float:right; margin:0 0 1em 1em}
        a figure.alignleft {float:left; margin:0 1em 1em 0}
        a figure.aligncenter {display: block; margin-left: auto; margin-right: auto}
        figure:not(:last-child),
        figure:not(:first-child), figure { margin: 0 0 20px; }
        img { max-width: 100%; height: auto;}

        blockquote {
            margin: 1rem 0;
            padding: 5px 10px;
            color: #A5A5A5;
            font-weight: 700;
            font-style: italic;
            border-left: 0.2em solid lighten(#000000, 40%);

            p {
                margin: 0;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: $font_Maven;
        }
        a { color: $cor_02; text-decoration: none; }
        a:hover { color: $cor_03; }        
    }
}